<footer class="trifid-footer">
  <div class="trifid-content">
    <p>
      <a href="#todo">Licenses</a>
      –
      <a href="https://bahn.guru/impressum" target="_blank" rel="noopener noreferrer">Imprint</a>
    </p>
  </div>
</footer>
