<header class="trifid-header">
  <div class="trifid-content">
    <div class="logo-block">
      <a href="/">
        <img src="/static-assets/codeforde.svg" alt="Code for Germany" class="logo" height="35" />
      </a>
      <span class="separator">/</span>
      <span class="app-name">Linked Open Data</span>
    </div>
  </div>
</header>
