<div class="trifid-header-title-small">
  <div class="trifid-content">
    <div class="container">
      <h1>Linked Open Data</h1>
      <p>A portal for querying and browsing linked open datasets, maintained by the <a href="https://codefor.de">Code for Germany</a> community.</p>
    </div>
  </div>
</div>

<div class="trifid-content">
  <h2>About</h2>
  <p>In an effort to promote the advantages of <a href="https://en.wikipedia.org/wiki/Linked_data">Linked Open Data</a>, the team at <a href="https://codefor.de">Code for Germany</a> provides this integrated data portal. Its main feature is the <a href="/sparql/">SPARQL query service</a>, which lets users make queries over all datasets listed below.</p>
  <h3>Datasets</h3>
  <ul>
    <li><a href="https://gdz.bkg.bund.de/index.php/default/verwaltungsgebiete-1-250-000-mit-einwohnerzahlen-stand-31-12-vg250-ew-31-12.html">VG250-EW</a> (Administrative areas and population counts in Germany, scale 1:250.000), linked data <a href="https://github.com/juliuste/open-data-scraper#datasets">mapped</a> by the CFG team</li>
    <li>…</li>
  </ul>
</div>
